# **Day 1: Programming Basics**
---

### **Description**
In this lab, we will familiarize ourselves with Google Colab.

<br>

### **Structure**
**Part 1**: [Getting Familiar with Google Colab](#p1)

**Part 2**: [Reading and Modifying Code](#p2)

**Part 3**: [Independent Practice](#p3)



<br>

### **Learning Objectives**
By the end of this lab, we will:
* Recognize how to use Google Colab to write and execute code.

<a name="p1"></a>

---
##**Part 1: Getting Familiar with Google Colab**
---

#### **Problem #1.1**

**Together**, let's change the title of our notebook. Rename the notebook to "My TRAIN Week 1 Lab Notebook".

#### **Problem #1.2**

**Together**, let's create a new text cell and type: "This is a text cell."

#####**Solution**

This is a text cell.

#### **Problem #1.3**

**Together**, let's create a new code cell and type: "This is a code cell."

#####**Solution**

In [ ]:
This is a code cell

#### **Problem #1.4**

**Together**, let's run the code cell below.

In [ ]:
"Hello World!"

<a name="p2"></a>

---
##**Part 2: Reading and Modifying Code**
---

#### **Problem #2.1**

**Together**, let's modify the value of the `color` variable so that it prints: "My favorite color is green"

In [ ]:
color = 'pink'

print("My favorite color is", color)

My favorite color is pink

#####**Solution**

In [ ]:
color = 'green'

print("My favorite color is", color)

#### **Problem #2.2**

**Together**, let's modify the code below to calculate the circumference of a circle with a radius of 10.

In [ ]:
radius = 7
circumference = 2 * 3.14 * radius
print(circumference)

43.96

#####**Solution**

In [ ]:
radius = 10
circumference = 2 * 3.14 * radius
print(circumference)

#### **Problem #2.3**

**Together**, let's modify the `name` variable so that it stores our name.

In [ ]:
name = 'Angelique'
print("My name is " + name)

My name is Angelique

#####**Solution**

In [ ]:
name = 'Angelique'
print("My name is " + name)

#### **Problem #2.4**

In Python, we can comment out lines of code by using the hash symbol (`#`) at the beginning of the line. This means that line of code is skipped during execution.

**Together**, let's modify the code below so that only `7` is outputted.

In [ ]:
print(5)
print(10)
print(7)
print(13)

#####**Solution**

In [ ]:
#print(5)
#print(10)
print(7)
#print(13)

---

#### **Now it's your turn! Try Problems #2.5 - 2.7 on your own.**

---

#### **Problem #2.5**

**Independently**, modify the value of x so that the result becomes 20.

In [ ]:
x = 10
y = 5
result = x + y
print(result)

#####**Solution**

In [ ]:
x = 10
y = 10
result = x + y
print(result)

#### **Problem #2.6**

**Independently**, modify the code below to calculate the area of a triangle with a base of 10 and a height of 12.

In [ ]:
base = 16
height = 5
area_of_triangle = 0.5 * base * height
print(area_of_triangle)

#####**Solution**

In [ ]:
base = 10
height = 12
area_of_triangle = 0.5 * base * height
print(area_of_triangle)

#### **Problem #2.7**

You're programming the lighting sequence for a stage show. Each light is controlled by a line of code that "turns on" the light.

**Independently**, using comments, modify the code below so that only odd numbered lights are turned on.

In [ ]:
print("Light 1 is on")
print("Light 2 is on")
print("Light 3 is on")
print("Light 4 is on")
print("Light 5 is on")
print("Light 6 is on")
print("Light 7 is on")
print("Light 8 is on")
print("Light 9 is on")
print("Light 10 is on")

#####**Solution**

In [ ]:
print("Light 1 is on")
#print("Light 2 is on")
print("Light 3 is on")
#print("Light 4 is on")
print("Light 5 is on")
#print("Light 6 is on")
print("Light 7 is on")
#print("Light 8 is on")
print("Light 9 is on")
#print("Light 10 is on")

<a name="p3"></a>

---
##**Part 3: Independent Practice**
---

#### **Problem #3.1**

Modify the value of x so that the final output is 15.

In [ ]:
x = 7
y = 3
result = x + y
print(result)

#####**Solution**

In [ ]:
x = 12
y = 3
result = x + y
print(result)

#### **Problem #3.2**

Change the operation to make the result 15.

In [ ]:
x = 10
y = 5
result = x * y
print(result)

50

#####**Solution**

In [ ]:
x = 10
y = 5
result = x + y
print(result)

15

#### **Problem #3.3**

Modify the values of x and y so that the result is 0.

In [ ]:
x = 8
y = 5
result = x - y
print(result)

#####**Solution**

In [ ]:
x = 5
y = 5
result = x - y
print(result)

#### **Problem #3.4**

Alter the value of y to make the result 50.

In [ ]:
x = 10
y = 2
result = x * y
print(result)

#####**Solution**

In [ ]:
x = 10
y = 5
result = x * y
print(result)

#### **Problem #3.5**

Modify one word to print "Hello Python".

In [ ]:
text = "Hello World"
print(text)

#####**Solution**

In [ ]:
text = "Hello Python"
print(text)

#### **Problem #3.6**

Reassign a new value to x to print 20.

In [ ]:
x = 10
print(x)

#####**Solution**

In [ ]:
x = 20
print(x)

#End of notebook
---
© 2023 The Coding School, All rights reserved